.textview__row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: auto;
}

.textview__row div:last-child {
  margin-left: 24px;
}

.textview__title {
  margin: 32px auto 16px;
  text-align: left;
}

.applicationReview__title {
  margin: 26px auto;
  text-align: left;
}

.applicationReview__submit {
  margin: 26px auto;
  display: flex;
  justify-content: flex-end;
}
