.businessDetails__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: auto;
}

.businessDetails__title {
  margin: 32px auto;
}

.businessDetails__submit {
  margin-top: 16px;
}